body {
     font-family:Arial, Helvetica, sans-serif;
     border-top:10px solid #ocoeoe;
     font-size:0.9em;
}

p{
    text-indent:1.8em;
}

li {
    margin-left:1.8em;
}

img {
    border:2px solid lightgray;
    border-radius:4px;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.content-cell {
    margin:20px 20px;
    border-bottom:2px solid lightgrey;
}
.content-cell p {
    text-indent:0em;
}
.content-cell-title{
    display:inline;
}
.content-cell-subtitle{
    display:inline;
    margin-right:8px;
}
.content-cell-description {
    font-size:1.5em;
}
.content-cell-accessory {
    margin-bottom:8px;
    padding-top:0.4em;
    background-color:lightblue;
    border-radius:4px;
    width:88px;
    height: 1.6em;
    text-align:center;
}
.content-cell-accessory a:link{
    color:white;
}

.content-cell-accessory a:visited{
    color:white;
}