html {
	background-image:url(/images/content_bg2.jpg)

}

body {
     font-family:Arial, Helvetica, sans-serif;
     font-size:0.9em;
}

p {
    text-indent:1.8em;
    word-wrap:break-word;
}

.sample-img {
    border:2px solid lightgray;
    border-radius:4px;
    max-width:90%; /* 自适应 */
    margin:auto;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
	width:100%;
	height:160px;
	margin-bottom:8px;
}
.header img {
	background-size:100% 120px;
	height:100%;
	width:100%;
	border:0px solid lightgray;
    border-radius:0px;
}

.header h2 {
	margin-left:21%;
}


.tabs {
	  margin:auto;
	  margin-top:20px;
	  text-align: center;
	}

	.tab {

	  margin:auto;
	  margin-top:8px;
	  width:88px;
	  height:35px;
	 
	  
	  font-weight:bold;
	  line-height:35px;
	  
	  color:lightgray;
	  border:2px solid lightgray;
	  border-radius:4px;
	}
	
	.tab:hover {
	  background-color:lightgray;
	  border:2px solid lightgray;
	  color:black;
	}
	.tab:active {
	  background-color:lightgray;
	  border:2px solid lightgray;
	  color:black;
	}

.pagination {
    border:2px solid blue;
    text-align:center;
}

.previous {
    border:2px solid lightblue;
    background: red;
}
.previous-disabled {
    width:88px;
    height:44px;
    line-height:44px;
    color:lightgray;
    border:2px solid lightblue;
    display:inline-block;
}
.disabled {
    border:1px solid black;
    width:88px;
}
.pages { 
    display: inline; 
    border:2px solid red;
}
.page {
    display:inline;
    list-style-type:none;
}

.next {}
.next-disabled {
    border:2px solid lightblue;
    display:inline;
}
.current-page {
    background-color: purple;
    color: white;
    width:44px;
    height:44px;
    line-height:44px;
    display:inline;
}
@media screen and (min-width:601px) {
    .left-aside{
	width:20%;
	height:600px;
	float:left;
    }

    .logo {
	position: relative;
	margin:auto;
	margin-top: 64px;
	width:120px;
	height:120px;

	background-color:lightgray;
	border-radius: 100%;
    }

    .tabs { width:120px; }
	
    .content {
	width:60%;
	float:left;
    }

    .content-wapper {
	width:96%;
	height:100%;
	margin:20px 20px;
    }

    .right-aside{
	width:20%;
	float:right;
	height:600px;
    }

    .footer{
	height:120px;
	clear:both;
    }
}

@media screen and (max-width:600px){
	.tabs { width:100%; }
	.tab { display:inline-block; }
}
