<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      	<div class="left-aside">
	  <div class="logo">
		<img class="logo" src="/images/logo.png" />
	  </div>
	  
	  <div class="tabs">
		
		{% for tab in site.data.tabs %}	

		<div class="tab" onclick="location='{{ tab.url }}'">
		
		{{ tab.title }}
		
		</div>
				
		
		{% endfor %}
	  </div>
	  
	</div>

	<div class="right-aside"></div>
	
	<div class="content">
		
		<div class="content-wapper">
		  {{ content }}
		</div>
		
	</div>

	<div class="footer"></div>

    </div>    
  </body>

</html>
